<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "css/styles.css">
    <title>404 Page Not Found</title>
</head>
<body>
    <header>
        <h1>404 Page Not Found</h1>
    </header>
    <main>
        <p>Oops! The page you're looking for doesn't exist.</p>
        <a href="index.html">Go back to the Dashboard</a>
    </main>
    <footer>
        <p>&copy; 2023 arfa79 Company. All rights reserved.</p>
    </footer>
</body>
</html>
